<a href="https://colab.research.google.com/github/Junaidma002/Introduction-to-python/blob/main/Basics_to_python_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
mark=int(input())
if mark >50 :
  print("You are passed")
if mark <50 :
  print("You are failed")

55
You are passed

In [7]:
mark=int(input())

50

In [10]:
if mark==50 :
  print("Just passed")

Just passed

In [17]:
salary=int(input())
if salary>=250000 :
  print("salary taxable")
if salary <250000 :
  print("salary not taxable")

150000
salary not taxable

In [19]:
salary=int(input())
if salary>=250000 :
  print("salary taxable")
  print(salary*10/100)
if salary <250000 :
  print("salary not taxable")

300000
salary taxable
30000.0

In [20]:
salary=int(input())
if salary>=250000 :
  print("salary taxable")
  print((salary-250000)*10/100)

300000
salary taxable
5000.0

In [29]:
salary=int(input())
if 0< salary<=250000 :
  print("salary not taxable") 
if 250000< salary<=500000 :
  print("salary taxable")
  print(salary*10/100)
if salary >500000 :
  print("salary taxable") 
  print(salary*20/100)

600000
salary taxable
120000.0

In [31]:
salary=int(input())
if 0< salary<=250000 :
  print("salary not taxable") 
if 250000< salary<=500000 :
  print("salary taxable")
  print((salary-250000)*10/100)
if salary >500000 :
  print("salary taxable") 
  print((salary-250000)*20/100)

600000
salary taxable
70000.0

In [33]:
salary=int(input())
if 0< salary<=250000 :
  print("salary not taxable") 
if 250000< salary<=500000 :
  print("salary taxable")
  print((salary-250000)*10/100)
if salary >500000 :
  print("salary taxable") 
  print((250000*(10/100))+((salary-500000)*(20/100)))

600000
salary taxable
45000.0