<a href="https://colab.research.google.com/github/Junaidma002/Introduction-to-python/blob/main/Basics%20of%20python%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
x=[10,20,30,40,50,60]

In [8]:
print(x)

[10, 20, 30, 40, 50, 60]

In [9]:
type(x)

list

In [10]:
x[0]

10

In [14]:
x[5]

60

In [15]:
x=[10,20,30,40]
y=[35,46,22,96]

In [18]:
a=x[0]*y[0]
b=x[1]*y[1]
c=x[2]*y[2]
d=x[3]*y[3]
print(a+b+c+d)

5770

In [19]:
x=["Kerala","Tamil Nadu"]
y=["Chennai","Trivandrum"]
print(x[0]+" "+y[1])
print(x[1]+" "+y[0])

Kerala Trivandrum
Tamil Nadu Chennai

In [26]:
x=["Kerala","Tamil Nadu"]
y=["Chennai","Trivandrum"]
print(x[0],y[1])

Kerala Trivandrum

In [35]:
x=[10,25,26,36,39,55]

In [30]:
x[-1]

55

In [31]:
x[-2]

39

In [32]:
x[-3]

36

In [34]:
print(x[-3]*x[-5])

900

In [36]:
if x[3]==10 :
  print("X is 10")
else:
  print("X is not 10")

X is not 10

In [38]:
if x[5]==55 :
  print("X is 55")
else:
  print("X is not 55")

X is 55

In [48]:
x="Junaid M A"
x[0]

'J'

In [49]:
x[-1]

'A'

In [51]:
if x[0]==x[-1]:
  print("its same")
else:
  print("its not same")

its not same

In [58]:
x=[10,25,26,36,39,55]
for a in x:
  print(a)

10
25
26
36
39
55

In [65]:
x="Junaid M A"
for a in x:
  print(a)

J
u
n
a
i
d

M

A

In [66]:
for a in x:
  if a=="i":
    print("contains I")

contains I

In [87]:
x=[10,25,26,36,39,55]
k=0

In [88]:
for a in x:
   k=k+a
   print(k)

10
35
61
97
136
191